.tecnologias {
    background: var(--c-12);
    box-shadow: inset 0 -80px 0 0 var(--c-00), inset 0 80px 0 0 var(--c-00);
}

.tecnologias .container {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.tecnologias_conteudo {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.tecnologias_conteudo h2 {
    padding-top: 2rem;
    padding-bottom: 1.25rem
}

.tecnologias_conteudo .botao {
    margin-top: 1.25rem;
    margin-bottom: 5rem;
    padding: 0;
    color: var(--c-p1);
    padding-bottom: .25rem;
    border-bottom: solid 4px var(--c-p1);
    background: none;
}

.tecnologias_conteudo ul {
    display: flex;
    gap: 2.5rem;
}

.tecnologias_conteudo li img {
    width: 24px;
}

.tecnologias_conteudo li h3 {
    color: var(--c-00);
    font-weight: 500;
    font-size: 1.125;
    margin: .5rem 0;
}

.tecnologias_conteudo li p {
    color: var(--c-05);
    font-weight: 400;
}

.tecnologias picture img {
    height: 100%;
    object-position: left;
}

@media (max-width: 768px) {
    .tecnologias {
        box-shadow: none;
    }

    .tecnologias .container {
        grid-template-columns: 1fr;
    }

    .tecnologias_conteudo {
        padding-top: var(--espacamento-base);
        padding-bottom: var(--espacamento-base);
    }

    .tecnologias picture img {
        display: none;
    }
}

@media (max-width: 600px) {

    .tecnologias_conteudo .botao {
        margin-bottom: 1.25rem;
    }

    .tecnologias_conteudo ul {
        flex-direction: column;
        gap: 1.25rem;
    }
}