.header {
    background: var(--c-12);
    padding: 2rem 1.25rem;
}

.header>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_links {
    display: flex;
    gap: 2.5rem;
    color: var(--c-00);
    font-size: 1.125rem;
    font-weight: 500;
}

.header_links a {
    position: relative;
}

.header_links a::after {
    content: '';
    display: block;
    width: 0;
    background: var(--c-00);
    height: 2px;
    position: absolute;
    transition: .3s;
}

.header_links a:hover::after {
    width: 100%;
}

@media (max-width: 600px) {
    .header {
        padding: 1.5rem 1.25rem;
    }

    .header .container {
        flex-direction: column;
        gap: 1.25rem;
    }

    .header_links {
        flex-wrap: wrap;
        justify-content: center;
        gap: .75rem;
    }

    .header_links a {
        font-size: .875rem;
        background: var(--c-10);
        padding: 4px 8px;
        border-radius: .25rem;
    }

    .header_links a::after {
        display: none;
    }
}

@media (max-width: 340px) {
    .header_links a {
        font-size: .75rem;
        padding: 2px 6px;
    }
}